# 时区
TZ=Asia/Shanghai
NGINX_EXPOSE_PORT=8080

# QQ 邮箱配置（生产环境必填）
EMAIL_USER=你的QQ邮箱@qq.com
EMAIL_PASS=你的QQ邮箱授权码

# JWT 密钥（生产环境随机生成：openssl rand -hex 32）
JWT_SECRET=随机字符串

# Zammad API Token
ZAMMAD_TOKEN=你的Zammad_API_Token

# 短信 API 配置
SMS_API_URL=http://118.178.135.212:9892
SMS_LOGIN_NAME=szmckj
SMS_PASSWORD=szmckj111111
SMS_SIGNATURE=【苏州名城文化科技】
